<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{ title }}</title>
</head>
<body>
    <div class="navbar">
        <a style="text-decoration: none;" href="http://localhost:8080/products"><p style="margin-left: 15px; font-family: 'Kalam', cursive; font-size: 18px; color: white;">Home</p></a>
        <a style="text-decoration: none;" href="http://localhost:8080/carts/64af3f6d46734d2a6496fd5e"><img style="margin-right: 15px; height: 35px;" src="/assets/carro-de-la-compra.png" alt="imagen-carrito"></a>
    </div>
    {{{ body }}}
    <footer class="footer">
        ¡Gracias por visitarnos!
    </footer>
</body>
</html>